<%- include('./shared/header.ejs') %>

    <div class="container text-center d-flex flex-column my-5">
        <div>
            <h4 class="text-white">Sorry, URL Not Found!</h4>
            <h4 class="text-white">Check the URL and try again!</h4>
        </div>
        <div>
            <img src="/public/img/error.png" alt="error not found">
        </div>
    </div>

    <%- include('./shared/footer.ejs') %>